/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #363636;
/* background: rgb(243, 115, 140); */
border-radius: 1em;
transition: 500ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(54, 54, 54, 0.7);
transition: 500ms;
/* background: rgb(243, 115, 140, 0.8); */
}